@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-white: #fefefe;
    --main-grey: #f4f4f4;
    --main-dark-grey: #aaaaaa;
    --main-black: rgb(34, 34, 34);
    --main-blue: #90caf9;
    --main-dark-blue: #249cff;
}

a {
    color: var(--main-dark-blue);
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--main-white);
    color: var(--main-black);
}

.page-wrapper {
    animation: fade-in .5s ease-out;
}

.background {
    background-image: url('../img/html_stock.jpg');
}

.background-filter {
    min-height: calc(100vh - 70px);
    width: 100vw;
    background-color: rgba(34, 34, 34, 0.8);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 70px);
    color: white;
    gap: 50px;
    padding-top: 50px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    border-left: 1px solid var(--main-grey);
    height: 100%;
}
.nav-logo {
    color: var(--main-black);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 900;
}
.nav-links li a {
    text-decoration: none;
    color: var(--main-black);
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 20px;
}

.dark-mode-icon {
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dark-mode-icon:hover {
    background-color: var(--main-blue);
}

.nav-links li a:hover {
    background-color: var(--main-blue);
}

.icon {
    width: 30px;
}



/* SLIDESHOW STYLES */

.slideshow {
    width: 50%;
    position: relative;
    aspect-ratio: 16/9;
}
.slideshow-title {
    text-align: center;
}

.slideshow-controls {
    position: absolute;
    bottom: -130px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.slideshow-controls div {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    justify-content: center;
    border: 1px solid var(--main-dark-grey);
    background-color: var(--main-black);
    cursor: pointer;
    border-radius: 5px;
}
.slideshow-controls div:hover {
    border-color: var(--main-white);
}
.slideshow-controls div:active {
    border-color: var(--main-blue);
}

.slideshow-items {
    position: relative;
}

.slideshow-item {
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/9;
    transition: all .7s;
    cursor: pointer;
}

.slideshow-item.hidden {
    z-index: -1;
    transform: scale(0.5) translateY(-20%);
}

.slideshow-item img {
    width: 100%;
    pointer-events: none;
}

.slideshow-item.left,
.slideshow-item.active,
.slideshow-item.right {
    display: block;
}

.slideshow-item.left {
    transform: scale(0.5) translate(-100%, -20%);
    z-index: 0;
}
.slideshow-item.left:hover {
    transform: scale(0.55) translate(-100%, -20%);
}

.slideshow-item.active {
    z-index: 1;
}
.slideshow-item.active:hover {
    transform: scale(1.1);
}

.slideshow-item.right {
    transform: scale(0.5) translate(100%, -20%);
    z-index: 0;
}
.slideshow-item.right:hover {
    transform: scale(0.55) translate(100%, -20%);
}


.slideshow-items a:nth-child(1) .slideshow-item {
    background-image: url(../img/bedconfigurator.PNG);
}
.slideshow-items a:nth-child(2) .slideshow-item {
    background-image: url(../img/discord-clone.PNG);
}
.slideshow-items a:nth-child(3) .slideshow-item {
    background-image: url(../img/mario.PNG);
}
.slideshow-items a:nth-child(4) .slideshow-item {
    background-image: url(../img/terminal.PNG);
}
.slideshow-items a:nth-child(5) .slideshow-item {
    background-image: url(../img/snake_game.PNG);
}



/*
.page-wrapper {
    display: grid;
    grid-template-columns: 300px auto ;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "nav nav"
        "side main";
    height: 100vh;
    width: 100vw;
    position: fixed;
}


.sidebar {
    height: calc(100vh - 70px);
    background-color: var(--main-grey);
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact-form {
    padding: 0 20px;
}

.article-image {
    width: 100%;
}

.home-section {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-black);
    cursor: pointer;
}

.projects-list {
    list-style: none;
    cursor: pointer;
    height: 0;
    overflow-y: hidden;
    transition: height .5s;
}

.projects-list li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-list li:hover {
    background-color: var(--main-blue);
}
.projects-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}
.projects-section {
    cursor: pointer;
    border-bottom: 1px solid var(--main-black);
}
.projects-section.expanded .projects-list {
    height: 200px;
}
li:first-child:nth-last-child(1) {

}
.projects-section.expanded .expand-icon {
    transform: rotate(180deg);
}
.expand-icon {
    height: 50%;
    transition: transform .3s;
}

.main-content {
    grid-area: main;
    overflow-y: auto;
    position: relative;
}

.project-wrapper {
    margin: 0 auto;
    max-width: 1040px;
    opacity: 0;
    height: 0;
    transition: opacity .5s ease-out;
    padding: 50px;
}
.project-wrapper.active {
    opacity: 1;
    height: auto;
}

.tech-and-libs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.tech-and-libs ul {
    list-style: none;
}

.tech-and-libs div {
    border: 1px solid var(--main-black);
    padding: 20px;
    width: 300px;
    margin: 20px;
}


.project-slideshow {
    margin-bottom: 40px;
}

.slideshow-image {
    display: none;
    width: 100%;
    margin-bottom: 20px;
}
.slideshow-image.active {
    display: block;
}



/*
.selected-character::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.3em;
    width: 0.5em;
    height: 0.3em;
    background-color: var(--text-color);
    animation: 1s blink step-end infinite;
}
*/




/* INPUT STYLES 

.outlined-input {
    position: relative;
    margin: 20px 0;
}

.outlined-input.invalid input {
    outline: 1px solid var(--error-red);
}
.outlined-input.valid input {
    outline: 1px solid var(--valid-green);
}

.outlined-input input,
.outlined-input textarea {
    color: var(--main-black);
    height: 4rem;
    outline: 1px solid var(--main-black);
    border-radius: 5px;
    border: none;
    background-color: var(--main-grey);
    padding-left: 20px;
    font-size: 20px;
    transition: .1s ease-in-out;
    width: 100%;
}

.outlined-input textarea {
    resize: none;
    height: 150px;
    padding: 20px;
}

.outlined-input label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: var(--main-grey);
    color: var(--main-black);
    text-align: center;
    transition: .2s ease-in-out;
    font-size: 1.3rem;
    pointer-events: none;
    padding: 0 5px;
}

.outlined-input input:not(:placeholder-shown) ~ label,
.outlined-input input:focus ~ label,
.outlined-input textarea:not(:placeholder-shown) ~ label,
.outlined-input textarea:focus ~ label {
    top: 0px;
    left: 10px;
    font-size: 1rem;
}

.outlined-input input:focus,
.outlined-input textarea:focus {
    outline: 1px solid var(--main-dark-blue) !important;
}
.outlined-input input:hover,
.outlined-input textarea:hover {
    outline: 1px solid var(--main-dark-grey);
}
.outlined-input input:focus ~ label,
.outlined-input textarea:focus ~ label {
    color: var(--main-dark-blue) !important;
}

/* END OF INPUT STYLES 



@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}
*/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media only screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }
    .slideshow-controls div {
        width: 100px;
    }
    .nav-logo, h1 {
        font-size: 2rem;
    }
}