@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-white: #fefefe;
    --main-grey: #f4f4f4;
    --main-dark-grey: #aaaaaa;
    --main-black: rgb(34, 34, 34);
    --main-blue: #90caf9;
    --main-dark-blue: #249cff;
}

a {
    color: var(--main-dark-blue);
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: var(--main-white);
    color: var(--main-black);
}

.page-wrapper {
    animation: fade-in .5s ease-out;
}

.background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.background-filter {
    min-height: calc(100vh - 70px);
    width: 100%;
    background-image: radial-gradient(at 300px 300px, rgba(159,0,191,.9) 0, #4D4FA7 40%);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 70px);
    color: white;
    gap: 50px;
    padding-top: 50px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 0 10px 0px black;
    position: relative;
}

.nav-links {
    display: flex;
    list-style: none;
    border-left: 1px solid var(--main-grey);
    height: 100%;
}
.nav-logo {
    color: var(--main-black);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 900;
}
.nav-links li a {
    text-decoration: none;
    color: var(--main-black);
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 20px;
}

.dark-mode-icon {
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links li a,
.dark-mode-icon,
.mobile-menu-icon {
    xoutline: 1px solid rgba(135, 191, 255, 0);
    transition: border-radius .2s ease-in-out, outline .2s ease-in-out, background-color .2s ease-out;
}

.nav-links li a:hover,
.dark-mode-icon:hover,
.mobile-menu-icon:hover {
    background-color: var(--main-blue);
    border-radius: 20px;
    xoutline: 2px solid var(--main-dark-blue);
}

.nav-links li a:active,
.dark-mode-icon:active,
.mobile-menu-icon:active {
    background-color: rgb(107, 255, 107);
    border-radius: 50%;
    xoutline: 2px solid rgb(51, 184, 51);

}

.icon {
    width: 30px;
}

.mobile-menu-icon {
    display: none;
    height: 100%;
    padding: 15px;
    cursor: pointer;
}
.mobile-menu-icon img {
    height: 100%;
}



/* SLIDESHOW STYLES */

.slideshow-items {
    width: 50%;
    position: relative;
    margin: 0 auto;
    height: auto;
    aspect-ratio: 16/9;
}
.slideshow-title {
    text-align: center;
}
.slideshow-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}
.slideshow-controls {
    color: white;
    display: flex;
    gap: 30px;
}

.slideshow-controls div {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    justify-content: center;
    border: 1px solid var(--main-dark-grey);
    background-color: var(--main-black);
    cursor: pointer;
    border-radius: 5px;
}
.slideshow-controls div:hover {
    border-color: var(--main-white);
}
.slideshow-controls div:active {
    border-color: var(--main-blue);
}

.slideshow-item {
    position: absolute;
    transition: all .8s cubic-bezier(.77,0,.18,1); /*z-index .51s ease-out, filter .7s ease-out;*/
    cursor: pointer;
}

.slideshow-item.hidden {
    z-index: 0;
    transform: scale(0.5) translateY(-20%);
}

.slideshow-item img {
    width: 100%;
    pointer-events: none;
    box-shadow: 0px 0px 20px 5px black;
    border-radius: 3px;
    transition: all .8s ease-out, box-shadow .8s ease-out;
}

.slideshow-item.left,
.slideshow-item.active,
.slideshow-item.right {
    display: block;
}

.slideshow-item.left {
    transform: scale(0.5) translate(-100%, -20%);
    z-index: 2;
}
.slideshow-item.left img {
    box-shadow: 0px 0px 20px 0px black;
}
.slideshow-item.left:hover img {
    box-shadow: 0 0 20px 0px black;
}

.slideshow-item.active {
    z-index: 3;
}
.slideshow-item.active:hover img {
    transform: scale(1.05);
}
.slideshow-item.left:hover img,
.slideshow-item.right:hover img {
    transform: scale(1.2);
}
.slideshow-item.active:hover img {
    box-shadow: 0px 0px 20px 0px black;
}

.slideshow-item.right {
    transform: scale(0.5) translate(100%, -20%);
    z-index: 1;
}
.slideshow-item.right img {
    box-shadow: 0px 0px 20px 0px black;
}
.slideshow-item.right:hover img {
    box-shadow: 0 0 20px 0px black;
}


/*
 * Slideshow title styles
 */

.slideshow-title span {
    transition: all .3s cubic-bezier(.65,.05,.36,1);
}

.slideshow-title:hover {
    color: red;
    transition: all .3s cubic-bezier(.65,.05,.36,1);
}

.slideshow-title span:nth-child(1):hover ~ span,
.slideshow-title span:nth-child(1):hover {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(2):hover ~ span,
.slideshow-title span:nth-child(2):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(3):hover ~ span,
.slideshow-title span:nth-child(3):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(4):hover ~ span,
.slideshow-title span:nth-child(4):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(5):hover ~ span,
.slideshow-title span:nth-child(5):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(6):hover ~ span,
.slideshow-title span:nth-child(6):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(7):hover ~ span,
.slideshow-title span:nth-child(7):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(8):hover ~ span,
.slideshow-title span:nth-child(8):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(9):hover ~ span,
.slideshow-title span:nth-child(9):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(10):hover ~ span,
.slideshow-title span:nth-child(10):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(11):hover ~ span,
.slideshow-title span:nth-child(11):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(12):hover ~ span,
.slideshow-title span:nth-child(12):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(13):hover ~ span,
.slideshow-title span:nth-child(13):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(14):hover ~ span,
.slideshow-title span:nth-child(14):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(15):hover ~ span,
.slideshow-title span:nth-child(15):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(16):hover ~ span,
.slideshow-title span:nth-child(16):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(17):hover ~ span,
.slideshow-title span:nth-child(17):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(18):hover ~ span,
.slideshow-title span:nth-child(18):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(19):hover ~ span,
.slideshow-title span:nth-child(19):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(20):hover ~ span,
.slideshow-title span:nth-child(20):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(21):hover ~ span,
.slideshow-title span:nth-child(21):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(22):hover ~ span,
.slideshow-title span:nth-child(22):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(23):hover ~ span,
.slideshow-title span:nth-child(23):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(24):hover ~ span,
.slideshow-title span:nth-child(24):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(25):hover ~ span,
.slideshow-title span:nth-child(25):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(26):hover ~ span,
.slideshow-title span:nth-child(26):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(27):hover ~ span,
.slideshow-title span:nth-child(27):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(28):hover ~ span,
.slideshow-title span:nth-child(28):hover  {
    color: var(--main-blue);
}
.slideshow-title span:nth-child(29):hover ~ span,
.slideshow-title span:nth-child(29):hover {
    color: var(--main-blue);
}



/*
.slideshow-items a:nth-child(1) .slideshow-item {
    background-image: url(../img/bedconfigurator.PNG);
}
.slideshow-items a:nth-child(2) .slideshow-item {
    background-image: url(../img/discord-clone.PNG);
}
.slideshow-items a:nth-child(3) .slideshow-item {
    background-image: url(../img/mario.PNG);
}
.slideshow-items a:nth-child(4) .slideshow-item {
    background-image: url(../img/terminal.PNG);
}
.slideshow-items a:nth-child(5) .slideshow-item {
    background-image: url(../img/snake_game.PNG);
}
*/


/*
.page-wrapper {
    display: grid;
    grid-template-columns: 300px auto ;
    grid-template-rows: 70px auto;
    grid-template-areas: 
        "nav nav"
        "side main";
    height: 100vh;
    width: 100vw;
    position: fixed;
}


.sidebar {
    height: calc(100vh - 70px);
    background-color: var(--main-grey);
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contact-form {
    padding: 0 20px;
}

.article-image {
    width: 100%;
}

.home-section {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--main-black);
    cursor: pointer;
}

.projects-list {
    list-style: none;
    cursor: pointer;
    height: 0;
    overflow-y: hidden;
    transition: height .5s;
}

.projects-list li {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-list li:hover {
    background-color: var(--main-blue);
}
.projects-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}
.projects-section {
    cursor: pointer;
    border-bottom: 1px solid var(--main-black);
}
.projects-section.expanded .projects-list {
    height: 200px;
}
li:first-child:nth-last-child(1) {

}
.projects-section.expanded .expand-icon {
    transform: rotate(180deg);
}
.expand-icon {
    height: 50%;
    transition: transform .3s;
}

.main-content {
    grid-area: main;
    overflow-y: auto;
    position: relative;
}

.project-wrapper {
    margin: 0 auto;
    max-width: 1040px;
    opacity: 0;
    height: 0;
    transition: opacity .5s ease-out;
    padding: 50px;
}
.project-wrapper.active {
    opacity: 1;
    height: auto;
}

.tech-and-libs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.tech-and-libs ul {
    list-style: none;
}

.tech-and-libs div {
    border: 1px solid var(--main-black);
    padding: 20px;
    width: 300px;
    margin: 20px;
}


.project-slideshow {
    margin-bottom: 40px;
}

.slideshow-image {
    display: none;
    width: 100%;
    margin-bottom: 20px;
}
.slideshow-image.active {
    display: block;
}



/*
.selected-character::after {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.3em;
    width: 0.5em;
    height: 0.3em;
    background-color: var(--text-color);
    animation: 1s blink step-end infinite;
}
*/




/* INPUT STYLES 

.outlined-input {
    position: relative;
    margin: 20px 0;
}

.outlined-input.invalid input {
    outline: 1px solid var(--error-red);
}
.outlined-input.valid input {
    outline: 1px solid var(--valid-green);
}

.outlined-input input,
.outlined-input textarea {
    color: var(--main-black);
    height: 4rem;
    outline: 1px solid var(--main-black);
    border-radius: 5px;
    border: none;
    background-color: var(--main-grey);
    padding-left: 20px;
    font-size: 20px;
    transition: .1s ease-in-out;
    width: 100%;
}

.outlined-input textarea {
    resize: none;
    height: 150px;
    padding: 20px;
}

.outlined-input label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background-color: var(--main-grey);
    color: var(--main-black);
    text-align: center;
    transition: .2s ease-in-out;
    font-size: 1.3rem;
    pointer-events: none;
    padding: 0 5px;
}

.outlined-input input:not(:placeholder-shown) ~ label,
.outlined-input input:focus ~ label,
.outlined-input textarea:not(:placeholder-shown) ~ label,
.outlined-input textarea:focus ~ label {
    top: 0px;
    left: 10px;
    font-size: 1rem;
}

.outlined-input input:focus,
.outlined-input textarea:focus {
    outline: 1px solid var(--main-dark-blue) !important;
}
.outlined-input input:hover,
.outlined-input textarea:hover {
    outline: 1px solid var(--main-dark-grey);
}
.outlined-input input:focus ~ label,
.outlined-input textarea:focus ~ label {
    color: var(--main-dark-blue) !important;
}

/* END OF INPUT STYLES 



@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}
*/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}



@media only screen and (max-width: 800px) {
    .nav-links {
        display: none;
    }
    .nav-logo, h1 {
        font-size: 2rem;
    }
    .mobile-menu-icon {
        display: block;
    }
    


    .slideshow-items {
        width: 90%;
    }
    .slideshow-item.left {
        transform: scale(0.5) translate(0%, 100%);
    }
    .slideshow-item.right {
        transform: scale(0.5) translate(0%, -100%);
    }
    .slideshow-controls {
        flex-direction: column;
        gap: 20px;
    }
    .slideshow-wrapper {
        gap: 120px;
    }
}